/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --left-body-close-width: 88px;
  --left-body-open-width: 250px;
  --right-body-close-width: calc(100vw - 250px);
  --right-body-open-width: calc(100vw - 88px);
  --primary-color: #707070;
  --primary-color-light: #f6f5ff;
  --toggle-color: #707070;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

/* ===== start template css contol left and right pannel ===== */
.backgroud-template {
  justify-content: flex-start;
  display: flex;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
  background-color: var(--body-color);
}

.left-body {
  height: 100vh;
  width: var(--left-body-close-width);
  background: var(--sidebar-color);
  transition: var(--tran-05);
}

.closeLeftBody {
  width: var(--left-body-close-width);
  height: 100vh;
}
.openLeftBody {
  width: var(--left-body-open-width);
  height: 100vh;
}

.right-body {
  width: var(--right-body-open-width);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.closeRightBody {
  height: 100vh;
  width: var(--right-body-close-width);
}

.openRightBody {
  position: abolute;
  width: var(--right-body-open-width);
  height: 100vh;
}
/* ===== end template css contol ===== */

/* ===== component int the right body ===== */
.contentHeader {
  min-height: 5vh;
  padding: 20px;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: var(--tran-05);
}

.lightMode {
  box-shadow: 0px -6px 20px 6px rgba(0, 0, 0, 0.5);
}

.darkMode {
  box-shadow: 0px -6px -6px 6px rgba(255, 255, 255, 0.5);
}

.contentBody {
  height: calc(100vh - 10vh);
  padding: 20px;
  transition: var(--tran-05);
}

.contentFooter {
  transition: var(--tran-05);
  /* height: 5vh; */
  /* width: 100vw; */
}
/* ===== end component int the right body ===== */
::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--left-body-open-width);
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: var(--left-body-close-width);
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  padding: 5px;
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
  margin-top: 20px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 30px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  background-color: var(--sidebar-color);
  top: 0;
  height: 5vh;
  left: 250px;
  width: 100vw;
  width: calc(100vw - 250px);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  white-space: nowrap;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 5vh;
  background-color: var(--sidebar-color);
  width: calc(100vw - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}

/* ===== Dashboard ===== */
.dashboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profit-loss-table-container {
  margin-top: 20px;
}

/* ===== table ===== */
.profit-loss-table {
  margin-top: 20px;
}
.stock-price-feed-table-container {
  margin-top: 20px;
}
.stock-price-feed-table {
  margin-top: 20px;
}

.socket-control {
  margin-left: 100px;
}

.stock-price-table-header {
  flex: 1;
  display: flex;
}
